.root{
  display: inline-flex;
  border: 1px solid #0c8;
  overflow: hidden;
  border-radius: 8px;
}

.btn, .active{
  padding: 6px 16px;
  font-weight: 600;
  cursor: pointer;
  background: #fff;
  border: none;
}

.active{
  background: #0c8;
  color: #fff;
} 